.features {
    display: inline-table;
    height: 100vh;
    width: 100%;
    align-items: center;
    background: white;
   
}
.ourproduct {
    text-align: center;
    align-items: center;
    padding: 50px;
    width: 100%;
    h1 {
        padding: 15px;
        text-align: center;
        font-family: "Dancing Script", cursive;
    }
    p {
        text-align: center;
    }
}
.card {
    display: inline-table;
    margin: 0 30px 50px 0;
    height: 400px;
    width: 300px;
    background: #808080;
    border-radius: 10px;
    transition: background 3s;
    background: #000;
    box-shadow: 0 70px 63px -60px #000;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.card0 {
    background: url("../image/animal2/cattle-bw.jpg") center center no-repeat;
    background-size: 600px;
    &:hover {
        background: url("../image/animal2/cattle-bw.jpg") left center no-repeat;
        background-size: 600px;
        h2 {
            opacity: 1;
        }
        p {
            opacity: 1;
        }
        .fa {
            opacity: 1;
        }
    }
}
.card1 {
    background: url("../image/animal2/sheep-bw.jpg") center center no-repeat;
    background-size: 620px;
    &:hover {
        background: url("../image/animal2/sheep-bw.jpg") left center no-repeat;
        background-size: 600px;
        h2 {
            opacity: 1;
        }
        p {
            opacity: 1;
        }
        .fa {
            opacity: 1;
        }
    }
}
.card2 {
    background: url("../image/animal2/goat-bw.jpg") center center no-repeat;
    background-size: 620px;
    &:hover {
        background: url("../image/animal2/goat-bw.jpg") left center no-repeat;
        background-size: 600px;
        h2 {
            opacity: 1;
        }
        p {
            opacity: 1;
        }
        .fa {
            opacity: 1;
        }
    }
}
.card3 {
    background: url("../image/animal2/camel-bw.jpg") center center no-repeat;
    background-size: 620px;
    &:hover {
        background: url("../image/animal2/camel-bw.jpg") left center no-repeat;
        background-size: 600px;
        h2 {
            opacity: 1;
        }
        p {
            opacity: 1;
        }
        .fa {
            opacity: 1;
        }
    }
}
.border {
    margin: 2px;
    height: 390px;
    width: 290px;
    background: transparent;
    border-radius: 10px;
    transition: border 1s;
    position: relative;
    border: 2px solid transparent;
    &:hover {
        border: 2px solid #ffffff;
    }
    h2 {
        padding: 15px;
        text-align: center;
        font-family: "Dancing Script", cursive;
        opacity: 0.3;
        color: white;
        transition: opacity 1s;
    }
    p {
        color: #ffffff;
        margin-left: 20px;
        margin-right: 20px;
        opacity: 0;
        transition: opacity 1s;
        text-align: justify;
        align-items: center;
        padding-top: 25%;
    }
}
.btncard {
    border: none;
    border-radius: 5px;
    background: #000000;
    color: #ffffff;
    float: left;
    position: absolute;
    bottom: 20px;
    left: 10%;
    text-transform: capitalize;
    opacity: 0.4;
    transition: 2s all;
    padding: 10px;
    letter-spacing: 1px;
    cursor: pointer;
    &:hover {
        background: rgb(255, 255, 255);
        color: #000000;
        opacity: 1;
        text-decoration: none;
    }
}
